# Author: Kota Miura
# miura@embl.de

Plugins>emblTools, "Dot_Linker GUI", emblcmci.linker.Dot_Linker("gui")
Plugins>emblTools, "Dot_Linker no gui", emblcmci.linker.Dot_Linker
Plugins>emblTools, "Plot a Track", emblcmci.linker.Overlay_Track("track")
Plugins>emblTools, "Plot Area", emblcmci.linker.Overlay_Track("area")
Plugins>emblTools, "Plot Area Scale", emblcmci.linker.Overlay_Track("areascale")