# Author: Kota Miura
# miura@embl.de

Plugins>EMBLtools, "Dot_Linker GUI", emblcmci.linker.Dot_Linker("gui")
Plugins>EMBLtools, "Dot_Linker no gui", emblcmci.linker.Dot_Linker
Plugins>EMBLtools, "Linker 3D GUI", emblcmci.linker.Dot_Linker("gui_volocity")
Plugins>EMBLtools, "Linker 3D no gui", emblcmci.linker.Dot_Linker("volocity")
Plugins>EMBLtools, "Plot a Track", emblcmci.linker.Overlay_Track("track")
Plugins>EMBLtools, "Plot Area", emblcmci.linker.Overlay_Track("area")
Plugins>EMBLtools, "Plot Area Scale", emblcmci.linker.Overlay_Track("areascale")