# Author: Kota Miura
# miura@embl.de

Plugins>EMBLtools>Link2D, "Dot_Linker GUI", de.embl.cmci.linker.plugin.Dot_Linker("gui")
Plugins>EMBLtools>Link2D, "Dot_Linker no gui", de.embl.cmci.linker.plugin.Dot_Linker
Plugins>EMBLtools>Link2D, "Plot a Track", de.embl.cmci.linker.plugin.Overlay_Track("track")
Plugins>EMBLtools>Link2D, "Plot Area", de.embl.cmci.linker.plugin.Overlay_Track("area")
Plugins>EMBLtools>Link2D, "Plot Area Scale", de.embl.cmci.linker.plugin.Overlay_Track("areascale")
Plugins>EMBLtools>Link3D, "Linker 3D GUI", de.embl.cmci.linker.plugin.Dot_Linker("gui_volocity")
Plugins>EMBLtools>Link3D, "Linker 3D no gui", de.embl.cmci.linker.plugin.Dot_Linker("volocity")
